.kodchasan-extralight {
  font-family: "Kodchasan", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.techup-head {
  font-family: "kodchasan";
}

.wording-line {
  font-family: "kodchasan";
}

.wording-line-thai {
  font-family: "kodchasan";
}
